main {
  display: grid;
  grid-template-columns: 1fr auto;
  align-self: center;
  justify-content: center;
  gap: 5%;
}

main > *:first-child {
  align-content: center;
  font-size: 14px;
}

main > *:nth-child(2) {
  position: relative;
}

main .dots {
  background-image: url(https://cdn.prod.website-files.com/5e2520252e290c852ed89624/5e516edbfd13de3678768756_Dots%402x.png);
  background-size: cover;
  width: 120%;
  height: 110%;
  position: absolute;
  top: -25%;
  z-index: -2;
  left: -10%;
}

.section-grid {
  border-top: var(--thin-border);
  width: var(--content-width);
  display: grid;
  grid-template: 1fr 0.4fr / 1fr 1fr;
}

.section-grid h6 {
  margin: 5px 0;
  text-decoration: underline;
  font-size: 16px;
}

.section-grid > *:nth-child(1) {
  padding-right: var(--padding-grid);
  border-right: 1px solid black;
  grid-area: 1 / 1 / span 2 / span 1;
}

.section-grid > *:nth-child(2) {
  padding-left: var(--padding-grid);
  padding-bottom: var(--padding-grid);
  border-bottom: 1px solid black;
}

.section-grid > *:nth-child(3) {
  display: grid;
  grid-template-columns: auto auto auto;
}

.section-grid > *:nth-child(3) > * {
  padding-top: var(--padding-grid);
  padding-right: var(--padding-grid);
  padding-left: var(--padding-grid);
}

.section-grid > *:nth-child(3) > *:nth-child(1) {
  text-align: center;
}

.section-grid > *:nth-child(3) > *:nth-child(2) {
  text-align: center;
  border-right: var(--thin-border);
  border-left: var(--thin-border);
}

.portfolio-list {
  width: var(--content-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-list > * {
  margin: 25px;
  /* transition: transform 0.3s ease-in-out; */
}
.portfolio-list > *:hover {
  /* transform: translateY(-20px); */
}

.portfolio-list img {
width: 250px;
}

.portfolio-list img + * {
  margin-top: 5%;
  text-align: center;
  }

.projects {
  width: var(--content-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: 280px;
}

.project img {
  width: auto;
  height: 324px;
  /* justify-content: center; картинки не выравниваются по justify, поэтому временно сделала марджины!!! */
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 16px;
  border: 4px solid white;
}

.project h2 {
  font-size: 2em;
  font-family: "Angfia";
}
  


