main {
  display: grid;
  grid-template-columns: 1fr auto;
  align-self: center;
  justify-content: center;
  gap: 5%;
}

main > *:first-child {
  align-content: center;
  font-size: 14px;
}

main > *:nth-child(2) {
  position: relative;
}

main .dots {
  background-image: url(https://cdn.prod.website-files.com/5e2520252e290c852ed89624/5e516edbfd13de3678768756_Dots%402x.png);
  background-size: cover;
  width: 120%;
  height: 110%;
  position: absolute;
  top: -25%;
  z-index: -2;
  left: -10%;
}

.section-grid {
  border-top: var(--thin-border);
  width: var(--content-width);
  display: grid;
  grid-template: 1fr 0.4fr / 1fr 1fr;
}

.section-grid h6 {
  margin: 5px 0;
  text-decoration: underline;
  font-size: 16px;
}

.section-grid > *:nth-child(1) {
  padding-right: var(--padding-grid);
  border-right: 1px solid black;
  grid-area: 1 / 1 / span 2 / span 1;
}

.section-grid > *:nth-child(2) {
  padding-left: var(--padding-grid);
  padding-bottom: var(--padding-grid);
  border-bottom: 1px solid black;
}

.section-grid > *:nth-child(3) {
  display: grid;
  grid-template-columns: auto auto auto;
}

.section-grid > *:nth-child(3) > * {
  padding-top: var(--padding-grid);
  padding-right: var(--padding-grid);
  padding-left: var(--padding-grid);
}

.section-grid > *:nth-child(3) > *:nth-child(1) {
  text-align: center;
}

.section-grid > *:nth-child(3) > *:nth-child(2) {
  text-align: center;
  border-right: var(--thin-border);
  border-left: var(--thin-border);
}

.portfolio-list {
  width: var(--content-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 100px;
}

.portfolio-list > * {
  margin: 25px;
}

.portfolio-list img {
width: 250px;
}

.portfolio-list img + * {
  margin-top: 5%;
  text-align: center;
  }

.projects {
  width: var(--content-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: var(--thin-border);
  border-bottom: var(--thin-border);
}

.project {
  width: 280px;
}

.project > *:first-child {
  position: relative;
}

.project img {
  display: block;
  width: auto;
  height: 324px;
  margin: auto;
  /* justify-content: center; картинки не выравниваются по justify, поэтому временно сделала марджины!!! */
  border-radius: 16px;
  z-index: -1;
  position: relative;
  border: 4px solid white;
  transition: transform 0.4s ease-in-out;
}

.project .fog {
  z-index: -1;
  background-image: linear-gradient(7deg, white, white 45%, rgba(150, 150, 150, 0));
  width: 100%;
  height: 280px;
  position: absolute;
  bottom: -40px;
}

.project h2 {
  font-size: 2em;
  font-family: "Angfia";
  bottom: 0;
  position: absolute;
  font-weight: bold;
  margin: 0;
}
 
.project:hover img  {
  transform: translateY(-20px);
}

h2 {
  /* font-size: 24px; */
  /* color: rgb(255, 0, 0); */
  /* padding: 10px; */
  /* position: relative; */
  /* display: inline-block; */
  /* position: absolute; */
  /* top: 10%; */
  /* left: 10%; */
  /* transform: translate(-50%, -50%); */
  /* color: rgb(0, 0, 0); */
  /* font-size: 24px; */

  /* font-weight: bold; */
  /* background: rgba(64, 3, 135, 0.407); Semi-transparent background */
  /* padding: 10px; Padding around the text */
  /* border-radius: 10px; Optional: rounded corners */
  /* text-align: center; */
}

/* h2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(57, 12, 12);
  z-index: -1;
  filter: blur(8px);
} */





